In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/home-data-for-ml-course/sample_submission.csv
/kaggle/input/home-data-for-ml-course/sample_submission.csv.gz
/kaggle/input/home-data-for-ml-course/train.csv.gz
/kaggle/input/home-data-for-ml-course/data_description.txt
/kaggle/input/home-data-for-ml-course/test.csv.gz
/kaggle/input/home-data-for-ml-course/train.csv
/kaggle/input/home-data-for-ml-course/test.csv

In [2]:
#import libraries
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

#Load the data and separate the target
iowa_file_path = '/kaggle/input/home-data-for-ml-course/train.csv'
home_data = pd.read_csv(iowa_file_path)
y = home_data.SalePrice
y

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [3]:
#creating X
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

# Select columns corresponding to features and preview the data
X = home_data[features]
X.head(20)

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9
5,14115,1993,796,566,1,1,5
6,10084,2004,1694,0,2,3,7
7,10382,1973,1107,983,2,3,7
8,6120,1931,1022,752,2,2,8
9,7420,1939,1077,0,1,2,5
10,11200,1965,1040,0,1,3,5
11,11924,2005,1182,1142,3,4,11
12,12968,1962,912,0,1,2,4
13,10652,2006,1494,0,2,3,7
14,10920,1960,1253,0,1,2,5
15,6120,1929,854,0,1,2,5
16,11241,1970,1004,0,1,2,5
17,10791,1967,1296,0,2,2,6
18,13695,2004,1114,0,1,3,6
19,7560,1958,1339,0,1,3,6

In [4]:
#Split into validation and training data
train_X, train_y, test_X, test_y = train_test_split(X, y, random_state = 1)
train_X, train_y, test_X, test_y

(      LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
 6       10084       2004      1694         0         2             3
 807     21384       1923      1072       504         1             3
 955      7136       1946       979       979         2             4
 1040    13125       1957      1803         0         2             3
 701      9600       1969      1164         0         1             3
 ...       ...        ...       ...       ...       ...           ...
 715     10140       1974      1350         0         2             3
 905      9920       1954      1063         0         1             3
 1096     6882       1914       773       582         1             3
 235      1680       1971       483       504         1             2
 1061    18000       1935       894         0         1             2

       TotRmsAbvGrd
 6                7
 807              6
 955              8
 1040             8
 701              6
 ...            ...
 715              7
 905              6
 1096             7
 235              5
 1061             6

 [1095 rows x 7 columns],
       LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
 258     12435       2001       963       829         2             3
 267      8400       1939      1052       720         2             4
 288      9819       1967       900         0         1             3
 649      1936       1970       630         0         1             1
 1233    12160       1959      1188         0         1             3
 ...       ...        ...       ...       ...       ...           ...
 1017     5814       1984      1360         0         1             1
 534      9056       2004       707       707         2             3
 1334     2368       1970       765       600         1             3
 1369    10635       2003      1668         0         2             3
 628     11606       1969      1040      1040         1             5

       TotRmsAbvGrd
 258              7
 267              8
 288              5
 649              3
 1233             6
 ...            ...
 1017             4
 534              6
 1334             7
 1369             8
 628              9

 [365 rows x 7 columns],
 6       307000
 807     223500
 955     145000
 1040    155000
 701     140000
          ...
 715     165000
 905     128000
 1096    127000
 235      89500
 1061     81000
 Name: SalePrice, Length: 1095, dtype: int64,
 258     231500
 267     179500
 288     122000
 649      84500
 1233    142000
          ...
 1017    187500
 534     178000
 1334    125000
 1369    232000
 628     135000
 Name: SalePrice, Length: 365, dtype: int64)

In [5]:
random_forest_model = RandomForestRegressor(random_state = 1)
random_forest_model.fit(X, y)
random_forest_val_predictions = random_forest_model.predict(X)
random_forest_val_mae = mean_absolute_error(random_forest_val_predictions, y)

print('Validation MAE for Random Forest Model: {:,.0f}'.format(random_forest_val_mae))

Validation MAE for Random Forest Model: 8,300

In [6]:
# A path to file I will be using for predictions
test_path = '/kaggle/input/home-data-for-ml-course/test.csv'

# read test data file using pandas
df = pd.read_csv(test_path)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [7]:
#create test_X which comesfrom test_data but includes only the columns used for prediction
# The list of columns is stored in a variable called features
random_forest_on_full_data = RandomForestRegressor()
random_forest_on_full_data.fit(X, y)
test_X = df[features]
test_X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,11622,1961,896,0,1,2,5
1,14267,1958,1329,0,1,3,6
2,13830,1997,928,701,2,3,6
3,9978,1998,926,678,2,3,7
4,5005,1992,1280,0,2,2,5
...,...,...,...,...,...,...,...
1454,1936,1970,546,546,1,3,5
1455,1894,1970,546,546,1,3,6
1456,20000,1960,1224,0,1,4,7
1457,10441,1992,970,0,1,3,6
1458,9627,1993,996,1004,2,3,9

In [8]:
#making predictions to submit
test_predictions = random_forest_on_full_data.predict(test_X)

result = pd.DataFrame({'Id': df.Id, 'SalePrice': test_predictions})
result.to_csv("submission_csv")
result

        Id  SalePrice
0     1461  118071.58
1     1462  152567.00
2     1463  183371.85
3     1464  179091.00
4     1465  185746.00
...    ...        ...
1454  2915   83414.00
1455  2916   86589.00
1456  2917  155902.88
1457  2918  122384.00
1458  2919  227567.35

[1459 rows x 2 columns]